@font-face {
  font-family: 'Sk-Modernist';
  src: url("../fonts/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: 'Sk-Modernist';
  font-weight: bold;
  src: url('../fonts/Sk-Modernist-Bold.otf');
}
